#footing{
    background-color:blueviolet;
    color:rgb(198, 202, 177); 
   display: flex;
   font-weight: 600;
   font-size: large;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-evenly;

      
        a{
            padding-right: .8em;
            text-decoration: none;
            color:rgb(240, 227, 227);
            font-size: large;
            margin-top: 10%;
        }
    
}
