#heading {
  background-color: blueviolet;
  font-family: 'Abril Fatface', cursive;
  font-weight: 300;
  color: #f1e7e7;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between; }
  #heading h2 {
    text-align: center; }
  #heading .navbars {
    margin-top: 10%; }
    #heading .navbars a {
      padding-right: .8em;
      text-decoration: none;
      color: #f0e3e3;
      font-size: large; }
